@import "@/assets/variables.scss";
.button {
  background-color: $button;
  color: white;
  padding: 10px;
  text-decoration: unset;
  position: fixed;
  &-left {
    right: unset;
    left: 20px;
  }
  &-top {
    bottom: unset;
    top: 20px;
  }
  &-right {
    left: unset;
    right: 20px;
  }
  &-bottom {
    top: unset;
    bottom: 20px;
  }
}
