@import "@/assets/variables.scss";
h1 {
  display: flex;
  justify-content: space-around;
  background-color: $orange;
  width: max-content;
  margin: 20px auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: $orange;
  margin-bottom: 20px;

  &-title {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  &-text {
    text-indent: 10px;
  }
}
