.main {
  &__title {
  }
  &__list {
    align-items: center;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 38px;
    flex-direction: column;
    list-style-type: none;
    &-item {
        font-size: 24px;
      background-color: yellow;
      padding: 5px;
      width: max-content;
    }
  }
}
