* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6eb983;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: normal;
  font-weight: 300;
  text-transform: none;
  overflow-x: hidden;
}
a {
  color: unset;
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
